<%- include("header") -%> 

        <div class="intro">
            <h1 class="intro-heading">TMSL-ECE</h1>
            <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiumdod col-sm-4 col-xs-6 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</P>
        </div>


        <div class="row">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Teachers</h3>
                  <p class="card-text"></p>
                  <form action="/" method="post">
                    <a href="/login" class="logbtn"><button class="btn btn-lg btn-primary" name="loginbutton" value="Teacher">Log In</button></a>
                  </form>
                  <form action="/tsign" method="post">
                    <a href="/tsign" class="logbtn"><button class="btn btn-lg btn-primary" name="signupbutton" value="Teacher">Sign Up</button></a>
                  </form>
                  </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Students</h3>
                    <p class="card-text"></p>
                    <form action="/" method="post">
                      <a href="/login" class="logbtn"><button class="btn btn-lg btn-primary" name="loginbutton" value="Students">Log In</button></a>
                    </form>
                    <form action="/ssign" method="post">
                      <a href="/ssign" class="logbtn"><button class="btn btn-lg btn-primary" name="signupbutton" value="Students">Sign Up</button></a>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Recruiters</h3>
                    <p class="card-text"></p>
                    <form action="/" method="post">
                      <a href="/login" class="logbtn"><button class="btn btn-lg btn-primary" name="loginbutton" value="Recruiters">Log In</button></a>
                      <a href="/login" class="logbtn"><button class="btn btn-lg btn-primary" name="signupbutton" value="Recruiters">Sign Up</button></a>
                    </form>
                  </div>
                </div>
              </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Admin</h3>
                  <p class="card-text"></p>
                  <form action="/" method="post">
                    <a href="/login" class="logbtn"><button class="btn btn-lg btn-primary" name="loginbutton" value="Admin">Log In</button></a>
                  </form>
                </div>
              </div>
            </div>
          </div>
         
<%- include("footer") -%>           