<%- include("header") -%>

<h2>Login Page for <%= loghead %>  </h2><br>    
<div class="login">    
    <form id="login" method="post" action="/login">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username" class="loginput">    
        <br><br>    
        <label><b>Password       
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password" class="loginput">    
        <br><br>    
        <button class="btn btn-lg btn-primary" type="submit" name="loginbtn" value="btn">Log me In</button>   
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        <a href="#"> Forgot Password</a>    
    </form>     
</div>    

<%- include("footer") -%>